@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  
}
body{
    background: linear-gradient(to right, #3525af, #9153c9);
}

.CV{
  width: 800px;
  background: #fff;
  margin: 25px auto;
  display: flex;  
}
.left{
    background: #292b2f;
    width: 250px;
    padding: 0 20px;
}
.right{
    width: calc(100%-250px);
}
.left .image{
    text-align: center;
    padding: 20px 0;
}

.left .image img{
    width: 200px;
    border-radius: 30px;
}

.pb{
    padding-bottom: 20px;
}
.title{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    color: #3525af;
    position: relative;
    text-align: right;
    margin-bottom: 15px;
}

.title:before{
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    width: 50px;
    height: 3px;
    background: #3525af;
}

.left .icon{
    font-size: 20px;
    color: #9153c9;
}
.left .text{
    color: #9153c9;
    text-transform: uppercase;
    font-size: 13px;
}
.contact .list{
display: flex;
align-items: center;
width: 100%;
margin-bottom: 15px;
}
.contact .list .icon{
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    
}
.contact .list .text{
        width: calc(100%-40px);
        word-break: break-word;
        color: #fff;    
    }
.skills ul,
.Hobbies ul{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.skills .list,
.Hobbies .list{

width: 95px;
height: 100px;
margin-bottom: 15px;
border-radius: 15px;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.skills .list{
    background: #fff;
}
.skills .list .text,
.Hobbies .list .text{
    margin-top: 5px;
}
.Hobbies .list{
    border: 2px solid #fff;
}
.Hobbies .list .icon,
.Hobbies .list .text{
    color: #fff;
}
.Hobbies .list:hover{
    background: #fff;
}

.Hobbies .list:hover .icon,
.Hobbies .list:hover .text{
    color: #9153c9;
}
.header{
background: #292b2f;
padding: 15px 30px;
color: #fff;
height: 20%;
}
.header .name{
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 700;
    color:#3525af;
}
.header .role{
    font-weight: 300;
    font-size: 20px;
}

.header .info{
    margin-top: 20px;
    line-height: 26px;

}
.inner_right .education{
    margin-top: 30px;
}
.inner_right .list{
    display: flex;
    margin-bottom: 15px;
}
.inner_right .list .date{
    width: 250px;
    color: #9153c9;
}
.inner_right .list .new_info{
width: calc(100%-125px);
padding-left: 25px;
position: relative;
}
.inner_right .list .title_info{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #9153c9;
    }
.inner_right .list .com_info{
    font-weight: 300;
    font-size: 14px;
    margin-top: 3px;
    }
.inner_right .list .new_info:before{
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #9153c9;
    border-radius: 50%;
    }
    .inner_right .list .new_info:after{
        content: "";
        position: absolute;
        top: 10px;
        left: 4px;
        width: 2px;
        height: 90%;
        background: #9153c9;
        
        }
    